body {
    text-align: center;
    margin: 20px;
}

#dateBtn {
    font-size: 20px;
    margin-top: 10px;
}

#displayDate {
    font-size: 20px;
}

h1 {
    margin-top: 50px;
}

label {
    font-size: 20px;
}

input {
    margin: 10px;
    width: 250px;
    height: 25px;
    font-size: 15px;
    text-align: center;
}

#course {
    margin-top: 15px;
    width: 255px;
    height: 30px;
    font-size: 15px;
    text-align: center;
}

#submitBtn {
    margin: 10px;
    width: 205px;
    height: 30px;
    font-size: 15px;
}

#search_student {
    margin: 50px;
}

#searchID {
    width: 200px;
    height: 30px;
}

#searchBtn {
    margin: 10px;
    width: 205px;
    height: 30px;
    font-size: 15px;
}
