body {
    text-align: center;
    margin: 20px;
}

#dateBtn {
    font-size: 20px;
    margin-top: 10px;
}

#displayDate {
    font-size: 20px;
}

h1 {
    margin-top: 50px;
}

label {
    font-size: 20px;
}

input {
    margin: 10px;
    width: 250px;
    height: 25px;
    font-size: 15px;
    text-align: center;
}

<<<<<<< HEAD
=======
button {
    margin: 10px;
    width: 205px;
    height: 30px;
    font-size: 15px;
}

>>>>>>> 888a08a5a6b9f8cd12c4e4760a64e4889b02e391
#course {
    margin-top: 15px;
    width: 255px;
    height: 30px;
    font-size: 15px;
    text-align: center;
}

<<<<<<< HEAD
#submitBtn {
    margin: 10px;
    width: 205px;
    height: 30px;
    font-size: 15px;
}

=======
>>>>>>> 888a08a5a6b9f8cd12c4e4760a64e4889b02e391
#search_student {
    margin: 50px;
}

#searchID {
    width: 200px;
    height: 30px;
}

<<<<<<< HEAD
#searchBtn {
    margin: 10px;
    width: 205px;
    height: 30px;
    font-size: 15px;
}
=======


>>>>>>> 888a08a5a6b9f8cd12c4e4760a64e4889b02e391
